# .cloudignore

# Byte-compiled / cache
*.pyo

# Virtual environments
.idea/
.vscode/
.venv/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
uv.lock
pyproject.toml
